<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <head>
            <script>
                function myFunction() {
                    document.getElementById("men").style = "visibility:visible";
                }
            </script>
        </head>
        <body>
            <h2>Demo JavaScript in Head</h2>
        
            <p id="demo">a paragraph</p>
        
            <button type="button" onclick="myFunction()">Try it</button>
            <button id="men" onclick="this.innerHTML=Date()" style="visibility:hidden">H</button>
            <button onclick="this.innerHTML=Date()">H</button>
            <input type="button"><br><br>
        </body>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
